<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Split MKV</title>
    <meta 
      content="text/html; charset=utf-8"
      http-equiv="Content-Type" />
    <meta name="author" content="Claus Appel" />
    <meta name="description" content="Tool to split an MKV file into multiple OGG files" />
    <meta name="keywords" content="MKV, OGG, DVD, BluRay" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="splitmkv.css" />
  </head>
  <body>
    <header>
      <a href="http://matroska.org">
        <img 
          src="MatroskaLogo.svg"
          alt="Matroska logo"
          title="Matroska logo"
          style="height:100px;width:100px;float:left;margin:10px" />
      </a>
      <div style="padding:9px">
        <h1>Split MKV</h1>
        <p>Split an MKV file into OGG files. Yay!</p>
      </div>
    </header>
    <hr />
    <main style="width:100%" data-ng-app="SplitMKV" data-ng-controller="table">
      <section class="section howto slidedown">
        <h4>
          This tool lets you:
        </h4>
        <div>
          <ul>
            <li>Parse an MKV file</li>
            <li>Inspect the chapters</li>
            <li>Enter metadata</li>
            <li>Save metadata to cookie</li>
            <li>Export all or some chapters to WAV or OGG</li>
          </ul>
        </div>
        <article>
        <h4>
          To use it:
        </h4>
        <ol>
          <li>Procure an MKV file (possibly using MakeMKV)</li>
          <li>Select the MKV</li>
          <li>Enter metadata</li>
          <li>Select which chapters you want to extract</li>
          <li>Press the button 'Extract'</li>
        </ol>
        </article>
        <p>
          <button id="button_extract">Extract</button>
        </p>  
      </section>
      <section class="section settings slidedown">
        <h4>
          Input
        </h4>
        <p title="Select source file type">Source file type:
          <select>
            <option title="Start from an MKV video file">MKV</option>
            <option title="Start from a WAV file and a chapter XML file">WAV and XML</option>
          </select>
        </p>
        <p title="Select XML file">Select XML file:
          <input id="input_xmlfile" type="file"/>
        </p>
        <h4>
          Metadata
        </h4>
        <table>
          <tr>
            <td><label for="input_artist">Artist</label></td>
            <td><input class="savetext" type="text" id="input_artist"></input></td>
          </tr>
          <tr>
            <td><label for="input_album">Album</label></td>
            <td><input class="savetext" type="text" id="input_album"></input></td>
          </tr>
          <tr>
            <td><label for="input_year">Year</label></td>
            <td><input class="savetext" type="text" id="input_year"></input></td>
          </tr>
        </table>   
      </section>
      <section class="section chapterlist">
        <h4>
          Chapters
        </h4>
        <em><label id="chapterTable_label">Please select an XML file</label></em>
        <table id="chapterTable" style="display:inline">
          <tr>
            <th data-ng-bind="headNumber"></th>
            <th data-ng-bind="headTitle"></th>
            <th data-ng-bind="headLength"></th>
          </tr>
          <tr data-ng-repeat="c in chapters">
            <td data-ng-bind="c.number"></td>
            <td><input type="text" id="{{'title_' + c.uid}}" data-ng-model="c.name"/></td>
            <td data-ng-bind="c.formattedLength"></td>
          </tr>
        </table>
      </section>
    </main>
    <footer>
      <hr />
      <address>
        <i>
          By Claus Appel
          <br/>
          <a title="Contact me!" href="mailto:spectrumdt@gmail.com">spectrumdt@gmail.com</a>
        </i>
      </address>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="splitmkv.js"></script>
    <script>
      /* Fire JavaScript on-load-handler when document is ready. */
      $(document).ready(SplitMKV.onLoad);
    </script>
  </body>
</html>